<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Kripto MarketCap</title>
    <link rel="icon" href="/src/public/images/logo-color.png">
    <link rel="icon" href="/src/public/images/logo-color.png">
    <link rel='stylesheet' href="./src/public/css/src/style.css" type="text/css">
    <link rel='stylesheet' href="./src/public/css/src/navbar.css" type="text/css">
    <link rel='stylesheet' href="./src/public/css/src/ui.css" type="text/css">
    <link rel='stylesheet' href="./src/public/css/src/frame.css" type="text/css">
    <link rel='stylesheet' href="./src/public/css/src/form.css" type="text/css">
    <link rel='stylesheet' href="./src/public/css/src/table.css" type="text/css">
    <link rel='stylesheet' href="./src/public/css/src/chart.css" type="text/css">
    <link rel='stylesheet' href="./src/public/css/src/button.css" type="text/css">
    <link rel='stylesheet' href="./src/public/css/src/icons.css" type="text/css">
    <link rel='stylesheet' href="./bootstrap/css/bootstrap.min.css" type="text/css">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:image" content="images/preview/preview-marketcap-new.png"/>
    <meta property="og:title" content="Kripto MarketCap"/>
    <meta property="og:description" content="Trading Future"/>
    <meta property="og:url" content="https://fanglee2003.github.io/"/>
</head>
<style>
    ul.mcw-news a.mcw-n-title {
        color: white;
    }

    h1 {
        margin: 3rem 0 2rem;
    }
    a{
        color: #28a745;
    }
    a:hover{
          color: #fff;
        text-decoration: none;
      }
</style>
<body>

<%- include ('header') %>


<!-- Main Content -->
<div class="flex-container" style="margin-top: 2rem">
    <div class="col-2-3 text-center fadeInDown">
        <div class="alert alert-success" role="alert" style="margin-top: 15rem;">
            <h3 class="alert-heading">Wrong Password!</h3>
            <p></p>
            <p>Looks like you entered the wrong password. </p>
            <p>Please use the navigation above or tap the button below to find your way back to our login site.</p>
            <hr>
            <a href="/login"><button type="button" class="btn btn-outline-success " style="padding-left: 2rem;padding-right: 2rem;">Login</button></a>
        </div>

    </div>
</div>

<script src="/bootstrap/js/bootstrap.bundle.js"></script>
<script src="/bootstrap/js/bootstrap.js"></script>

<script src="/src/public/js/jquery.js"></script>
<script src="/src/public/js/popper.min.js"></script>

<script src="/src/public/js/Chart.min.js"></script>
<script src="/src/public/js/line-chart.js"></script>


<script src="/src/public/js/loading.js"></script>

</body>

</html>