<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Kripto Login</title>
    <link rel="icon" href="/src/public/images/logo-color.png">
    <link rel="icon" href="/src/public/images/logo-color.png">
    <link rel='stylesheet' href="/src/public/css/src/style.css" type="text/css">
    <link rel='stylesheet' href="/src/public/css/src/navbar.css" type="text/css">
    <link rel='stylesheet' href="/src/public/css/src/ui.css" type="text/css">
    <link rel='stylesheet' href="/src/public/css/src/frame.css" type="text/css">
    <link rel='stylesheet' href="/src/public/css/src/form.css" type="text/css">
    <link rel='stylesheet' href="/src/public/css/src/table.css" type="text/css">
    <link rel='stylesheet' href="/src/public/css/src/chart.css" type="text/css">
    <link rel='stylesheet' href="/src/public/css/src/button.css" type="text/css">
    <link rel='stylesheet' href="/src/public/css/src/icons.css" type="text/css">
    <link rel='stylesheet' href="/bootstrap/css/bootstrap.min.css" type="text/css">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:image" content="images/preview/preview-login.png"/>
    <meta property="og:title" content="Kripto Login"/>
    <meta property="og:description" content="Trading Future"/>
    <meta property="og:url" content="https://fanglee2003.github.io/login"/>
</head>
<style>
    body {
        background-image: url('/src/public/images/background.jpg');
        background-size: cover;
    }


    @media screen and (min-width: 80em) {

        .container-5-5 {
            position: relative;
            background-color: wheat;
        }

        .col-1-5 {
            margin: 3rem;
        }

        .col-4-5 {
            margin: 3rem;
        }

        .form-1-5 {


            position: absolute;
            top: 3rem;
            bottom: 0;
            /*left: 0;*/
            /*right: 0;*/
            float: left;
            z-index: 1;
        }

        .frame {
            height: 40rem;!important;
            width: 15rem;!important;
            background: rgba(255, 255, 255, 0.9);

        }

    }


    @media screen and (max-width: 80em) {
        body {
            background-image: url('/src/public/images/background2.jpg');
        }
    }


</style>

<body>

<div id="fb-root"></div>

<%- include ('header') %>

<!-- Main Content -->
<div class="container-5-5">
    <div class="col-1-5 form-1-5 clearfix">
        <div class="frame">

        </div>
    </div>

</div>


<script src="/bootstrap/js/bootstrap.bundle.js"></script>
<script src="/bootstrap/js/bootstrap.js"></script>
<script src="/src/public/js/jquery.js"></script>

<script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v14.0&appId=966413697364774&autoLogAppEvents=1"
        nonce="e3FHeFDB">
</script>

<script src="/src/public/js/loading.js"></script>


</body>

</html>