
<div id="loading">
    <img id="loading-image" src="/src/public/images/loading.gif" alt="Loading..."/>
</div>

<nav class="nav-bar">
    <div class="nav-bar-left">
        <div class="logo">
            <a href="index.html">
                <img src="/src/public/images/logo.png" alt="">
            </a>

            <input type="text" placeholder="Search...">
        </div>
    </div>
    <div class="nav-bar-right">
        <ul>
            <li><a href="/">Market cap</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/account">Account</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </div>
    <div class="nav-mobile">
        <label class="nav-mobile-button" for="nav-mobile-input">
            <img src="/src/public/images/open.png" alt="open">
        </label>

        <input type="checkbox" id="nav-mobile-input">

        <div class="nav-mobile-content">
            <label class="nav-mobile-button" for="nav-mobile-input">
                <img src="../public/images/close.png" alt="close" style="top: 1rem;">
            </label>
            <ul>
                <li><a href="/">Market cap</a></li>
                <li><a href="news.html">News</a></li>
                <li><a href="account.html">Account</a></li>
                <li><a href="register.html">Register</a></li>
                <li><a href="login.html">Login</a></li>
            </ul>
        </div>
    </div>
</nav>

