<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Kripto Register</title>
    <link rel="icon" href="/src/public/images/logo-color.png">
    <link rel="icon" href="/src/public/images/logo-color.png">
    <link rel='stylesheet' href="/src/public/css/src/style.css" type="text/css">
    <link rel='stylesheet' href="/src/public/css/src/navbar.css" type="text/css">
    <link rel='stylesheet' href="/src/public/css/src/ui.css" type="text/css">
    <link rel='stylesheet' href="/src/public/css/src/frame.css" type="text/css">
    <link rel='stylesheet' href="/src/public/css/src/form.css" type="text/css">
    <link rel='stylesheet' href="/src/public/css/src/table.css" type="text/css">
    <link rel='stylesheet' href="/src/public/css/src/chart.css" type="text/css">
    <link rel='stylesheet' href="/src/public/css/src/button.css" type="text/css">
    <link rel='stylesheet' href="/src/public/css/src/icons.css" type="text/css">
    <link rel='stylesheet' href="/bootstrap/css/bootstrap.min.css" type="text/css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:image" content="images/preview/preview-register.png"/>
    <meta property="og:title" content="Kripto Register"/>
    <meta property="og:description" content="Trading Future"/>
    <meta property="og:url" content="https://fanglee2003.github.io/register"/>

</head>

<style>
    body {
        background-image: url('/src/public/images/background.jpg');
        background-size: cover;
    }

    .col-1-3 {
        margin: 5rem auto;
    }

    @media screen and (max-width: 80em) {
        body {
            background-image: url('/src/public/images/background2.jpg');
        }
    }
</style>

<body>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.17.1/dist/sweetalert2.min.js" integrity="sha256-Pqs5A9wApIiYSB4hUcVldLk59gXaGnttbDmxVjRm6zQ=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<div id="fb-root"></div>


<%- include ('header.ejs')%>


<!-- Main Content -->
<form action="/sign--up" method="post">
<div class="col-1-3">
    <div class="frame form fadeInUp" style="padding: 1rem 3rem;">
        <table>
            <tr>
                <th>
                    <div class="logo">
                        <img src="/src/public/images/logo-color.png" alt="logo-image">
                        <h1>Register</h1>
                    </div>
                </th>
            </tr>
            <div>
            <tr>
                <td>
<!--                    chỉnh name bằng email + pass thì database mới nhận-->
                    <input type="email"  id="email"  name="email" placeholder="Email / phone" >
                </td>
            </tr>
            <tr>
                <td>
                    <input type="password"  id="password" name="password"  placeholder="Password" >
                </td>
            </tr>
            <tr>
                <td>

                    <input type="password" id="re-password" placeholder="Confirm Password" >
                </td>
            </tr>
            </div>
            <tr>
                <td>
                    <button type="submit" id="sign-up" class="button-purple">Sign up</button>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="fb-login-button" data-width="" data-size="medium" data-button-type="continue_with"
                         data-layout="default" data-auto-logout-link="false" data-use-continue-as="true"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="float-left"><a href="/login">Login</a></p>
                    <p class="float-right"><a href="/recover-password">Recover Password</a></p>
                </td>
            </tr>
        </table>
    </div>
</div>
</form>
<script src="/bootstrap/js/bootstrap.bundle.js"></script>
<script src="/bootstrap/js/bootstrap.js"></script>
<script src="/src/public/js/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v14.0&appId=966413697364774&autoLogAppEvents=1"
        nonce="e3FHeFDB">
</script>

<script src="/src/public/js/loading.js"></script>





<script>



    // function Register() {
    //     $.ajax({
    //         url: '/register',
    //         type: 'POST',
    //         data: {
    //             email: $('#email').val(),
    //             password: $('#password').val(),
    //         }
    //     })
    //         .then(data => {
    //
    //             if (data == 'user got duplicated') {
    //                // alert('Account already has a user');
    //
    //                 Swal.fire({
    //                     icon: 'error',
    //                     title: 'Account already has a user',
    //                     html: 'Please enter another email',
    //                     footer: 'Or contact the administrator of KriptoExchange via this &nbsp; <a href="mailto:banglebang2016@gmail.com">mail</a>',
    //                     showConfirmButton: false,
    //                     timer: 7000,
    //                 })
    //             }
    //             if(data =='Successful Registration'){
    //                 Swal.fire({
    //                     icon: 'success',
    //                     title: 'Successful Registration',
    //                     html: 'Will go to the Login page after this message.',
    //                     footer: 'From KriptoExchange with love ❤️',
    //                     showConfirmButton: false,
    //                     timer: 5000,
    //                 }).then(() => {
    //                     window.location.href = "/signup"
    //                 })
    //             }
    //         })
    //         .catch(err => {
    //             console.log(err);
    //         });
    // }
    //
    // $('#sign-up').on('click', () => {
    //     if ($('#password').val() === $('#re-password').val()) {
    //         Register();
    //     } else {
    //         Swal.fire({
    //             icon: 'error',
    //             title: 'Incorrect Password',
    //             html: 'Please re-enter password',
    //             footer: 'From KriptoExchange with love ❤️',
    //             showConfirmButton: false,
    //             timer: 7000,
    //         })        }
    // })
</script>
</body>

</html>